[class^=act] {
  height: 25px;
  width: 89px;
  border: 1px solid #0000004A;
  border-radius: 9px;
  color: #847F98;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

